*{
    margin: 0;
    padding: 0;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background:url(../Image//wp5317941-world-map-wallpaper-black.jpg)center center/cover;
    height: 100vh;

}

.Container {

    border: 2px solid white;
    padding: 25px 25px;
    border-radius: 25px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}

.search {

    border-radius: 50px;
    border: none;
    outline: none;
    background: #000000b5;
    padding: 10px 30px;
    color: white;

}

.btn {

    border-radius: 50%;
    height: 2.7em;
    width: 2.7em;
    border: none;
    background: #000000b5;
    color: white;
    cursor: pointer;

}
.btn:hover,.search:hover{ 
    background-color:#00000055;
}
.padding{
    padding-top: 20px;
}
.Date{
    font-size: 15px;
}